<div class="jumbotron p-20">
    <h1 class="btn btn-danger transition-all duration-500 font-extrabold">Welcome To My App</h1>
    <p class="mt-5 font-semibold">It's Gonna Kick All Ass...</p>
    <%= link_to 'About Us', home_about_path, class: 'btn btn-default font-semibold' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary font-bold' %>
</div>